# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Logs
logs/*.log

# Keys
keys/*.json
!keys/.gitkeep

# Environment
.env

# OS
.DS_Store
Thumbs.db