# requirements.txt
# Core
pandas==2.1.4
python-dotenv==1.0.0
pyyaml==6.0.1
loguru==0.7.2

# Google Cloud
google-cloud-bigquery==3.14.1
google-cloud-bigquery-storage==2.24.0
pandas-gbq==0.19.2

# dbt
dbt-core==1.7.4
dbt-bigquery==1.7.2

# Schedule (optional - dùng cron thay vì Airflow)
schedule==1.2.0